<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)" class="form-area">
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field is-narrow">
                <p class="control field-amount">
                    <input name="amount" type="number" class="input" step="0.01" placeholder="Amount"
                        [ngModel]="item.amount" required />
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input name="description" type="text" class="input" placeholder="Description"
                        [ngModel]="item.description" required />
                </p>
            </div>
            <div class="field is-narrow">
                <button [disabled]="!itemForm.valid" type="submit" class="button is-primary">Add</button>
            </div>
        </div>
    </div>
</form>