@mixin icon() {
    margin-right: 15px;
    font-size: 1.5em;

    &:active {
        transform: translateY(-1px);

    }
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}