<div class="header-container-left">
    <div class="sidebar-toggle"><span (click)="toggleClicked.emit()">
            <i class="fa fa-bars"></i>
        </span>
    </div>
</div>
<div class="header-container-right">
    <div class="alerts-container">
        <div *ngFor="let alert of data.alerts"><i class="fa {{alert.iconClass}}"></i></div>
    </div>
    <div class="user-container">
        <div class="user-picture"></div>
        <div class="info-container">
            <p>Invader zim</p>
        </div>
    </div>
</div>