@use "variables";

:host {
    color: variables.$dark;
    background-color: #e5e7ec;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2em;

    span {
        font-size: 1.1rem;
        a {
            font-size: inherit;
        }
    }
}