 @import '../../../main-styles';

 .sidebar {
     justify-content: space-between;
     position: fixed;
     height: 91%;
     overflow-x: hidden;
     transition: all 0.3s ease-in-out;
     background: $dark-blue;
     width: 30%;
     max-width: 250px;
 }