 @import '../../../main-styles';

 :host {
     color: $dark;
     background-color: #e5e7ec;
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 4em;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-left: 2em;

     .social-media-area {
         display: flex;
         justify-content: space-around;
         font-size: 2.1em;

         a {
             margin: 10px;

             &:hover {
                 transform: scale(1.2);
             }
         }

         padding-right: 2em;
     }
 }