$purple: #8860D0;
$light-purple: #C1C8E4;
$blue: #5AB9EA;
$light-blue: #84CEEB;
$dark-blue: #5680E9;

$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$dark: rgb(22, 28, 41);
$green: #00cc86;
$mainGreen: #00d1b2;
$light-green: #bafacd;
$red: #dc3900;
$light-red: #ffe5e3;
$dark-grey: #424242;
$pure-white: #fff;