<div class="top-bar">
    <h1>Budget Calculator</h1>
</div>
<section class="total-budget-section">
    <h2 [ngClass]="{ 'red': totalAmount < 0, 'green':totalAmount > 0}">{{totalAmount}}</h2>
</section>
<section class="add-item-section">
    <div class="add-item-container">
        <app-add-item-form (formSubmit)="addNewItem($event)" class="add-item-area"></app-add-item-form>
    </div>
</section>
<hr class="add-item-section-separator" />
<app-budget-items-list [budgetItems]="budgetItems" (delete)="onDeleteItem($event)"></app-budget-items-list>