<div class="grid-container">
    <div class="navbar">
        <div class="logo">
            <p>RL</p>
        </div>
        <div class="siderbar-control"><span
                (click)="sidebarStatus = sidebarStatus === 'out' || !sidebarStatus ? 'in' : 'out'">
                <i class="fa fa-bars"></i>
            </span></div>
        <div class="menu-bar-area">
        </div>
    </div>
    <div class="content-wrapper">
        <app-sidebar [sidebarStatus]="sidebarStatus"></app-sidebar>
        <div class="main">
        </div>
    </div>
    <app-footer></app-footer>
</div>