@import '../../main-styles';

/* https://codepen.io/tutsplus/pen/bGVPVrY */

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 6% 120% 10%;
    height: 80vh;

    .navbar {
        background-image: linear-gradient(45deg, $dark-blue, $purple);
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        grid-column-end: span 2;
        display: flex;
        align-items: center;

        .sidebar-control {
            margin-left: 4.3em;

            &:hover {
                box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
            }

            &:active {
                transform: translateY(-1px);
                box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
            }
        }

        .menu-bar-area {}
    }

    .content-wrapper {
        grid-column-end: span 3;

        .main {
            flex: 1;
        }
    }

    .footer-area {
        color: $dark;
        background-color: #e5e7ec;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 2em;

        .social-media-area {
            display: flex;
            justify-content: space-around;

            .fa {
                font-size: 2.1em;
                margin: 10px;
            }

            padding-right: 2em;
        }
    }
}