<div class="grid-container">
    <div class="navbar">
        <div class="sidebar-control">
            <span (click)="sidebarStatus = sidebarStatus === 'out' || !sidebarStatus ? 'in' : 'out'">
                <i class="fa fa-bars"></i>
            </span>
        </div>
        <div class="menu-bar-area">
        </div>
    </div>
    <div class="content-wrapper">
        <app-sidebar [sidebarStatus]="sidebarStatus"></app-sidebar>
        <div class="main">
        </div>
    </div>
    <div class="footer-area">
        <span>Version 1.0 Copyright © 2020-2021 <a href="https://github.com/robli298">Rob Li</a>. All rights reserved.
        </span>
        <div class="social-media-area">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-github"></a>
        </div>
    </div>
</div>