<section class="budget-items-section">
    <div class="budget-items-container">
        <div class="income-column">
            <h1>Income</h1>
            <div class="budget-items">
                <div *ngFor="let item of budgetItems; trackBy: trackByIndex">
                    <app-budget-item-card [@simpleFadeAnimation]="'in'" *ngIf="item.amount > 0" [item]="item"
                        (xButtonClick)="onDeleteButtonClicked(item)">
                    </app-budget-item-card>
                </div>
            </div>
        </div>
        <div class="expenses-column">
            <h1>Expenses</h1>
            <div class="budget-items">
                <ng-container *ngFor="let item of budgetItems; trackBy: trackByIndex">
                    <app-budget-item-card [@simpleFadeAnimation]="'in'" *ngIf="item.amount < 0" [item]="item"
                        (xButtonClick)="onDeleteButtonClicked(item)">
                    </app-budget-item-card>
                </ng-container>
            </div>
        </div>
    </div>
</section>