@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:300,900');
@import "reset";

html,
body {
    height: 100%;
    color: white;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}