<div class="app-container" *ngIf="layoutData$ | async as layoutData">
    <div class="app-navbar">
        <app-navbar [alerts]="layoutData.alerts" (toggleClicked)="sidebarStatus = sidebarStatus === 'out' || !sidebarStatus ? 'in' : 'out'">
        </app-navbar>
    </div>
    <div class="app-main">
        <app-sidebar [sidebarStatus]="sidebarStatus"></app-sidebar>
        <div class="content-area"
            [ngClass]="{'is-full-width': sidebarStatus === 'in', 'is-not-full-width': sidebarStatus === 'out'}">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="app-footer">
        <app-footer [socialMedias]="socialMedias$ | async" [version]="layoutData.version"></app-footer>
    </div>
</div>